---
import MainLayout from "../layouts/MainLayout.astro";
import DotText from "../components/DotText.astro";
import Articlecard from "../components/Articlecard.astro";
import Overskrift from "../components/Overskrift.astro";
import EmnerSamlet from "../components/EmnerSamlet.astro";
---

<MainLayout title="Artikler">

 

<section class="grid grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop">

<div class="col-start-2 col-span-10">
  <Overskrift text="vælg et emne"></Overskrift>
  </div>
<div class="col-start-2 col-span-10 lg:col-start-2 lg:col-span-2">
  <EmnerSamlet></EmnerSamlet>
  </div>





<div class="col-start-2 lg:col-start-7 lg:col-span-11 col-span-9 lg: flex flex-col gap-[32px] items-start lg:flex-row lg:self-end">

    <Articlecard
    url="/"
    imgSrc="/img/selvvaerd.svg"
    alt="Illustration"
    h4="Selvvard"
    text="Jorem ipsum dolor sit amet, consectetur adipiscing elitjj jbkbklklknn. "
    btnurl="/"
  />
  <Articlecard
  url="/"
  imgSrc="/img/selvvaerd.svg"
  alt="Illustration"
  h4="Selvvard"
  text="Jorem ipsum dolor sit amet, consectetur adipiscing elitjj jbkbklklknn. "
  btnurl="/"
/>

</div>





</section>


</MainLayout>