---
import MainLayout from "../layouts/MainLayout.astro";
import DotText from "../components/DotText.astro";
import Articlecard from "../components/Articlecard.astro";
import Overskrift from "../components/Overskrift.astro";
import Header from "../components/Header.astro";
import EmnerSamlet from "../components/EmnerSamlet.astro";
import IconButton from "../components/Button.astro"
---

<MainLayout 
title="Artikler om stoisk filosofi, terapi & trivsel | Stoisk Ro" 
description ="Artikler om stoisk filosofi, stress, angst, depression og mental trivsel. Få indsigt og perspektiv til at navigere livet med mere ro, styrke og klarhed."
url="https://stoiskro.netlify.app/artikler/"
canonical="https://stoiskro.netlify.app/artikler/"
>


<div id="artikler-header" class="grid grid-cols-grid-mobil pt-spacebar32 lg:pt-spacebar136 lg:grid-cols-grid-desktop mx-margin-mobil grid-rows-1 lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop">
  <div class="gsap-header col-start-2 col-span-6 lg:col-start-2 lg:col-span-3">
    <Header h1="artikler" />
  </div>
  <img class="gsap-image max-w-full h-auto col-start-8 col-span-3 lg:col-start-7 lg:col-span-2" src="/img/artikler-header-illustration.svg" alt="Illustration" />
</div>

<section class="pb-spacebar32 pt-spacebarm64 lg:pt-spacebard136 lg:pb-spacebard136 grid grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop">

<div class="gsap-header col-start-2 col-span-10 pb-spacebar32">
  <Overskrift text="vælg et emne"></Overskrift>
  </div>
  
<div class="gsap-text col-start-2 col-span-10 pb-spacebar32 lg:pb-spacebard136">
  <EmnerSamlet></EmnerSamlet>
  </div>


  <div class="fade-in col-start-2 col-span-10 lg:col-start-3 lg:col-span-2 lg:pb-spacebar32">

    <Articlecard
    url="/artikel-stoicisme"
    imgSrc="/img/article5.svg"
    alt="abstrakt ansigt"
    h4="Stoicisme"
    text="En filosofi til psykisk robusthed "
    btnurl="/"
    />

    <div class="gsap-button lg:hidden py-spacebarm16 lg:pb-0">
      <IconButton text="Læs her" size="small" variant="secondaryLeft" href="/artikel-stoicisme/"></IconButton>
      </div>
    </div>


 <div class="fade-in col-start-2 col-span-10 lg:col-start-6 lg:col-span-2 lg:pb-spacebar32">

  <Articlecard
  url="/artikel-nar-foleserne-styrer"
  imgSrc="/img/article2.svg"
  alt="abstrakt ansigt"
  h4="Når følelser styrer"
  text="En refleksion over indre uro og klarhed"
  btnurl="/"
  />


  <div class="gsap-button lg:hidden py-spacebarm16 lg:py-0" >
    <IconButton text="Læs her" size="small" variant="secondaryLeft" href="/artikel-nar-foleserne-styrer/"></IconButton>
    </div>


 </div>

    <div class="fade-in col-start-2 col-span-10 lg:col-start-9 lg:col-span-2 lg:pb-spacebar32">

    <Articlecard
    url="/artikel-bevar-den-sunde-fornuft"
    imgSrc="/img/article6.svg"
    alt="Illustration"
    h4="Bevar fornuften"
    text="Den indre kontrol som frihed"
    btnurl="/"
  />
    
      <div class="gsap-button lg:hidden py-spacebarm16 lg:py-0">
        <IconButton text="Læs her" size="small" variant="secondaryLeft" href="/artikel-bevar-den-sunde-fornuft/"></IconButton>
        </div>
      </div>
    

 <div class="fade-in col-start-2 col-span-10 lg:col-start-3 lg:col-span-2 lg:pb-spacebar32">
  <Articlecard
  url="/artikler"
  imgSrc="/img/article1.svg"
  alt="Illustration"
  h4="Psykisk vold"
  text="Når forholdet bliver et fængsel "
  btnurl="/"
/>

  <div class="gsap-button lg:hidden py-spacebarm16 lg:py-0">
    <IconButton text="Læs her" size="small" variant="secondaryLeft" href="/"></IconButton>
    </div>
  </div>


<div class="fade-in col-start-2 col-span-10 lg:col-start-6 lg:col-span-2 lg:pb-spacebar32">
  <Articlecard
      url="/artikler"
      imgSrc="/img/article7.svg"
      alt="Illustration"
      h4="At se sig selv klart"
      text="Vejen til ægte selvindsigt"
      btnurl="/"
    />

<div class="gsap-button lg:hidden py-spacebarm16 lg:py-0" >
  <IconButton text="Læs her" size="small" variant="secondaryLeft" href="/"></IconButton>
  </div>

</div>


<div class="fade-in col-start-2 col-span-10 lg:col-start-9 lg:col-span-2 lg:pb-spacebar32">

  <Articlecard
  url="/artikel-stoicisme"
  imgSrc="/img/article3.svg"
  alt="abstrakt ansigt"
  h4="Indre ro i en urolig verden"
  text="Hvad stoikerne kan lære os om angst"
  btnurl="/"
  />

  <div class="gsap-button lg:hidden py-spacebarm16 lg:py-0">
    <IconButton text="Læs her" size="small" variant="secondaryLeft" href="/"></IconButton>
    </div>
  </div>


<div class="fade-in col-start-2 col-span-10 lg:col-start-3 lg:col-span-2 lg:pb-spacebar32">
  <Articlecard
  url="/artikler"
  imgSrc="/img/balance2.svg"
  alt="Illustration"
  h4="Når vi glider fra hinanden"
  text="Livskrisen som vendepunkt"
  btnurl="/"
/>

<div class="gsap-button lg:hidden py-spacebarm16 lg:py-0" >
  <IconButton text="Læs her" size="small" variant="secondaryLeft" href="/"></IconButton>
  </div>


</div>

  <div class="fade-in col-start-2 col-span-10 lg:col-start-6 lg:col-span-2 lg:pb-spacebar32">

    <Articlecard
    url="/"
    imgSrc="/img/kommunikation.svg"
    alt="abstrakt ansigt"
    h4="Ord der bygger broer"
    text="Kunsten at kommunikere med nærvær"
    btnurl="/"
    />
  
    <div class="gsap-button lg:hidden py-spacebarm16 lg:py-0">
      <IconButton text="Læs her" size="small" variant="secondaryLeft" href="/"></IconButton>
      </div>
    </div>

    <div class="fade-in col-start-2 col-span-10 lg:col-start-9 lg:col-span-2 lg:pb-spacebar32">

      <Articlecard
      url="/"
      imgSrc="/img/heart.svg"
      alt="abstrakt ansigt"
      h4="Kærlighedens kunst"
      text="At vokse sammen i samlivets hverdag"
      btnurl="/"
      />
    
      <div class="gsap-button lg:hidden py-spacebarm16 lg:py-0">
        <IconButton text="Læs her" size="small" variant="secondaryLeft" href="/"></IconButton>
        </div>
      </div>


</section>


</MainLayout>

<script>
  import gsap from "gsap";
  
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  
  
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gsap-header").forEach((el) => {
    gsap.from(el as HTMLElement, {
      scrollTrigger: {
        trigger: el as HTMLElement,
        start: "top center",
      },
      opacity: 0,
      x: -40,
      delay: 0.2,
      ease: "power1.out",
      duration: 1,
    });
  });
  
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gsap-text").forEach((el) => {
    gsap.from(el as HTMLElement, {
      scrollTrigger: {
        trigger: el as HTMLElement,
        start: "top center",
      },
      opacity: 0,
      x: -40,
      delay: 0.3,
      ease: "power1.out",
      duration: 1,
    });
  });
  
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gsap-accordion").forEach((el) => {
    gsap.from(el as HTMLElement, {
      scrollTrigger: {
        trigger: el as HTMLElement,
        start: "top center",
      },
      opacity: 0,
      y: 50,
      delay: 0.6,
      ease: "power1.out",
      duration: 1,
    });
  });
  
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gsap-image").forEach((el) => {
    gsap.from(el as HTMLElement, {
      scrollTrigger: {
        trigger: el as HTMLElement,
        start: "top center",
      },
      opacity: 0,
      y: -40,
      delay: 0.2,
      ease: "power1.out",
      duration: 1,
    });
  });
  
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gsap-button").forEach((el) => {
    gsap.from(el as HTMLElement, {
      scrollTrigger: {
        trigger: el as HTMLElement,
        start: "top center",
      },
      opacity: 0,
      y: 50,
      delay: 0.4,
      ease: "power1.out",
      duration: 1,
    });
  });
  
  gsap.from(".fade-in", {
    opacity: 0,
    y: 30,
    delay: 0.5,
    duration: 1,
    stagger: 0.2, // forskudt animation
    ease: "power2.out",
  });
  
  
  </script>