---
import MainLayout from "../layouts/MainLayout.astro";
import ArticleLeft from "../components/ArticleLeft.astro"
import ArticleRight from "../components/Articleright.astro"
import ArticleHeader from "../components/ArticleHeader.astro";
import Overskrift from "../components/Overskrift.astro";

---

<MainLayout title="Artikel: Bevar den sunde fornuft | Stoisk Ro"
description ="Opdag hvordan stoisk ro og stoicisme kan styrke din selvbeherskelse, praktiske visdom og skabe indre ro i en verden fuld af støj og uro."
url="https://stoiskro.netlify.app/artikel-bevar-den-sunde-fornuft"
canonical="https://stoiskro.netlify.app/artikel-bevar-den-sunde-fornuft">

    	<!-- Article header åbning sat op i forhold til grid -->

<section class="lg:pt-spacebard136 grid grid-cols-grid-mobil lg:grid-cols-grid-desktop px-[16px] lg:px-[64px]  gap-gap-mobil lg:gap-gap-desktop">
	<div class="gsap-header col-start-2 col-span-10 lg:col-start-2 lg:col-span-5">

    <h1 class="font-gloock uppercase text-h2-mobil lg:text-h2-desktop text-green-500">Stoicisme</h1>

	</div>
</section>

	<!-- Full Article med to colonner sat op i forhold til grid -->

    <section id="commensense" class="lg:py-spacebard136 grid grid-cols-grid-mobil lg:grid-cols-grid-desktop px-[16px] lg:px-[64px]  gap-gap-mobil lg:gap-gap-desktop">
        <div class="gsap-text col-start-2 col-span-10 lg:col-start-2 lg:col-span-5 ">
          
          <div class="pb-spacebar32">
          <ArticleHeader
	        imageSrc="/img/fornuft2.webp"
	        imageAlt="notesbog med tegning og tekst"
	         />
          </div>
        
        <ArticleLeft
            title="Bevar den sunde fornuft"
            backHref="/artikler"
          
            headingIntro="Den indre kontrol som frihed"
            heading1="Når hverdagens støj udfordrer sindet"
            heading2="Flugten fra uroen"
            heading3="Hvad er mit ansvar – og hvad er ikke?"
            heading4="De tre fælder vi ofte falder i"
            headingConclusion="Selvbeherskelse som et bæredygtigt værktøj"
          >
            <Fragment slot="intro">
                I alle livets aspekter er det vigtigt, at vi kan bevare kontrollen over os selv. Ifølge mange tænkere, især inden for stoicismen, er kontrol over sig selv den ultimative frihed. <br><br>
                Udtrykket "stoisk ro" inviterer os ind i en verden, hvor vi står op for os selv ved at undgå så mange negative indtryk som muligt, så der skal meget til, før vi bliver rystet. Denne evne til at bevare indre ro midt i kaos er en kerne i stoicismen. </Fragment>
          
            <Fragment slot="section1">
                Vores hverdag er fyldt med stressorer, og det er ikke altid let at finde ro og stabilitet midt i al tumulten. Ved at fokusere på, hvad der er inden for vores kontrol, og acceptere, hvad der ligger uden for vores kontrol, kan vi finde en vigtig rettesnor - en kilde til stoisk ro.
            </Fragment>
          
            <Fragment slot="section2">
                Mange mennesker forsøger at fikse sig selv med midler og metoder, der ligger uden for deres kontrolsfære. For eksempel kan man forsøge at dulme smerte ved at indtage euforiserende stoffer, men dette erstatter ikke fornuftens magt. Jeg forstår, at det kan føles som en lettelse at bedøve sig selv nok til, at nerverne falder til ro, men på den anden side inviterer man sig selv til en hårdere tid. Når stoffernes effekt aftager, falder man tilbage til sine sørgmodige tanker, smerter eller sit oprindelige jeg – og det kan virke uudholdeligt. Tænk engang ikke at kunne finde ro i sin egen krop. Det må føles ubærligt og føre til konstant indre uro – fraværet af indre ro.<br><br>
                Og dog..... Stoicismen byder på sin essentielle dyd – praktisk visdom – som en vejleder.
                <li class=" p-0 list-inside"> <strong>Def.: Praktisk Visdom</strong> <br>  Evnen til at reflektere logisk over, hvordan man bør reagere, opføre sig, tale og handle – så ens handlinger stemmer overens med det gode: venlighed, tilgivelse, omsorg og kærlighed. Denne praktiske visdom er grundlæggende i stoicisme og fører til selvbeherskelse, som er nøglen til at opnå stoisk ro.</li>
            </Fragment>
          
            <Fragment slot="section3">
          Et sted at starte er at stille sig selv spørgsmålet: Er dette inden for min kontrol? Hvis ja, så handler jeg på det. Hvis nej, så vil jeg forsøge at forholde mig indifferent, for jeg kan alligevel ikke gøre noget ved det. Er jeg udsat for uvejr, er det min rolle at finde ud af, hvordan jeg bedst undgår at blive påvirket. Når vi mister vores kontrol, mister vi friheden i os – og det er et ubehageligt og ulykkeligt sted at være. Netop derfor er stoisk ro og selvbeherskelse afgørende redskaber. 

            </Fragment>

            <Fragment slot="section4">

              Mange mennesker, både dem jeg har mødt og mine klienter, vælger (bevidst eller ubevidst) at ændre på ting, de ikke kan ændre ved at:

              <li class=" p-0 list-inside">Håbe sig igennem livet</li>

               <li class=" p-0 list-inside">Leve efter formodninger</li>

               <li class=" p-0 list-inside">Have store forventninger til verden og andre</li> <br>

               Disse fælder fjerner os fra praktisk visdom og gør det svært at bevare indre ro.

            </Fragment>
          
            <Fragment slot="conclusion">
            For at bevare den sunde fornuft er vi nødt til at anerkende, at livet kræver, at vi følger vores sunde fornuft. For eksempel ved at praktisere tålmodighed eller selvbeherskelse – evnen til at modstå, holde ud og være tålmodig i stunder, hvor situationen virker uudholdelig. Praktiserer vi selvbeherskelse, vil vi opdage, hvor mange ligegyldige bekymringer vi kan undgå. Det er bæredygtigt og fører positive resultater med sig. At have kærlighed til visdom – især praktisk visdom – er det samme som at have kærlighed til sig selv, da vi er født som fornuftsvæsener. Heri ligger nøglen til varig stoisk ro.
            </Fragment>
        </ArticleLeft>
        
        
        </div>	
        
        <div class="gsap-image col-start-2 col-span-10 lg:col-start-8 lg:col-span-4 sticky top-0 left-0 right-0 bottom-0 h-screen w-full bg-beige-500">
        
        <ArticleRight
          topText=""
          bottomText=""
          image1Src="/img/fornuft1.webp"
          image1Alt="notesbog"
          image2Src="/img/fornuft3.webp"
          image2Alt="Billede af buste i sten"
        />
        <div class="h-[100vh]"></div><!-- afstandsstykket -->
        </section>


</MainLayout>

<script>
    import gsap from "gsap";
    
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-header").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        x: -40,
        delay: 0.2,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-text").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        x: -40,
        delay: 0.3,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-accordion").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        y: 50,
        delay: 0.6,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-image").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        y: -40,
        delay: 0.2,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-button").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        y: 50,
        delay: 0.4,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.from(".fade-in", {
      opacity: 0,
      y: 30,
      delay: 0.5,
      duration: 1,
      stagger: 0.2, // forskudt animation
      ease: "power2.out",
    });
    
    
    </script>