---
import MainLayout from "../layouts/MainLayout.astro";
import DotText from "../components/DotText.astro";
import Articlecard from "../components/Articlecard.astro";
import Overskrift from "../components/Overskrift.astro";
---

<MainLayout title="Artikler">

 

<section class="grid grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop">

<div class="col-start-2 col-span-10">
  <Overskrift text="vælg et emne"></Overskrift>

<div class="flex flex-col lg:flex-row lg:justify-between gap-[32px]">

<div class="flex flex-wrap gap-[8px] lg:gap-[16px] lg:flex-col lg:flex-nowrap">
    <DotText input="depression"></DotText>
    <DotText input="angst"></DotText>
    <DotText input="ptsd"></DotText>
    <DotText input="parforhold"></DotText>
    <DotText input="selvvard"></DotText>
    <DotText input="vrede"></DotText>
    <DotText input="livskrise"></DotText>
    <DotText input="stress"></DotText>

</div>


<div class="flex flex-col gap-[32px] items-start lg:flex-row lg:self-end">

    <Articlecard
    url="/"
    imgSrc="/img/selvvaerd.svg"
    alt="Illustration"
    h4="Selvvard"
    text="Jorem ipsum dolor sit amet, consectetur adipiscing elitjj jbkbklklknn. "
    btnurl="/"
  />
  <Articlecard
  url="/"
  imgSrc="/img/selvvaerd.svg"
  alt="Illustration"
  h4="Selvvard"
  text="Jorem ipsum dolor sit amet, consectetur adipiscing elitjj jbkbklklknn. "
  btnurl="/"
/>

</div>

</div>

</div>

</section>


</MainLayout>