---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import IconButton from "../components/Button.astro";
import Kontaktform from '../components/Kontaktform.astro';
import Forsamtale from "../components/Forsamtale.astro"

import Inputfield from '../components/Inputfield.astro';
import Overskrift from "../components/Overskrift.astro";
import Textbox from "../components/Textbox.astro";
---

<MainLayout title="Stoisk Ro">


	<h1 class="text-h1-mobil uppercase lg:font-gloock font-bold text-green-500">DM sans</h1>
	<h1 class="font-gloock">Gloock</h1>
	<p class="text-p-desktop">P desktop style</p>

	<!-- Skriv her hvilken variant og størrelse du skal bruge ex. primary large -->

	<IconButton text="Send" variant="primary" size="large">
    </IconButton>

	<!-- Kontaktform sat op i forhold til grid -->

<section class="grid grid-cols-grid-mobil lg:grid-cols-grid-desktop bg-green-500">

    <div class="col-start-2 col-span-10 lg:col-start-6 lg:col-span-6">
     <Kontaktform></Kontaktform>
	</div>
</section>

	<!-- forsamtale sat op i forhold til grid -->

<section class="grid grid-cols-grid-mobil lg:grid-cols-grid-desktop bg-beige-500">

    <div class="col-start-2 col-span-10 lg:col-start-6 lg:col-span-6">
     <Forsamtale></Forsamtale>
	</div>
</section>	 


	<Overskrift text="Mit navn er Artjom"></Overskrift>
	<Textbox subheader="jeg er samtaleterapeut"></Textbox>
<!-- <UnderoverskriftText 
	underoverskrift="jeg er samtaleterapeut" 
	text="Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis. Ut commodo efficitur neque.Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti 
sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis. Ut commodo efficitur neque.Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum."></UnderoverskriftText>  -->

</MainLayout>
