---
import MainLayout from "../layouts/MainLayout.astro";
import Overskrift from "../components/Overskrift.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import Textbox from "../components/Textbox.astro";
import Image from "../components/Image.astro";
import Forsamtale from "../components/Forsamtale.astro";
---

<MainLayout title="Om Stoisk Ro - Filosofisk samtaleterapi med Artjom | Stoisk Ro"
description ="Lær mere om Stoisk Ro og Artjoms tilgang til terapi. Jeg kombinerer stoisk filosofi med kognitiv adfærdsterapi for at give dig redskaber til mental ro og styrke."
url="https://stoiskro.netlify.app/om-stoisk-ro/">

<div id="om-header" class="grid grid-cols-grid-mobil pt-spacebar32 lg:pt-spacebar136 lg:grid-cols-grid-desktop mx-margin-mobil grid-rows-1 lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop">
  <div class="gsap-header col-start-2 col-span-8 lg:col-start-2 lg:col-span-7">
    <Header h1="om stoisk ro" />
  </div>
  <img class="gsap-image col-start-8 col-span-3 lg:col-start-8 lg:col-span-3" src="/img/om-header-illustration.svg" alt="Illustration" />
</div>


 <!-- Sektion hvad er filosofisk terapi -->
 <section class="pt-spacebarm64 pb-spacebar32 lg:py-spacebard136 grid grid-cols-grid-mobil lg:grid-cols-grid-desktop px-[16px] lg:px-[64]gap-gap-mobil lg:gap-gap-desktop">

    
      <div class="gsap-header col-start-2 col-span-10 lg:col-start-3 lg:col-span-5">
        <Overskrift text="Filosofisk samtaleterapi" color="green" />
    </div>
  
    <div class="gsap-text col-start-2 col-span-10 lg:col-start-3 lg:col-span-5">
        
      <Textbox subheader="Hvad er det?"color="green" />
      <p>Filosofisk samtaleterapi starter med at identificere den tænkning, der fører os til vanskeligheder i livet, og undersøger derefter alternative perspektiver, der kan åbne usete muligheder og fjerne hindringerne, der har forhindret os i at komme positivt frem i vores liv. <br> <br>
       Filosofiens magt i denne sammenhæng ligger i dens aktivitet at stille grundlæggende og eksistentielle spørgsmål. Når vi føler os fast eller tabt, skyldes det ofte perspektiver, overbevisninger og værdier, der synes så basale, at vi ikke engang ser en mulighed for at revurdere dem. Filosofer er trænet til at stille gode spørgsmål, spørgsmål der kan hjælpe os med at opdage de grænser, som vores personlige 'tankevaner' opsætter for den måde, vi ser og oplever verden på. Når vi har afsløret og formuleret disse, åbner vi et rum for at udvikle mere solide, bevidste og styrkende intellektuelle synspunkter. På denne måde kan filosofisk visdom hjælpe os med at komme videre ved at gøre os mentalt stærkere og øge vores psykiske robusthed, samt befri os fra vores egne ubestridte antagelser såvel som andres.
 </p> <br>
      <p>      Den mest magtfulde måde at ændre vores holdninger, adfærd og følelser på er ved at ændre den måde, vi tænker på. Filosofi er bestræbelsen på at tænke gennem vores menneskelige oplevelser dybt, omhyggeligt og med åbenheden for at ændre vores sind. Filosofisk samtaleterapi sætter denne form for tænkning i tjeneste for rigere, mere produktive og tilfredsstillende liv, hvilket giver os værktøjer til at løse problemer mere selvsikkert og til at leve et mere bevidst og givende liv – i retning af stoisk ro og indre sindsro.</p>
  </div>


    <div class="gsap-image col-start-2 pt-[16px] lg:pt-0 col-span-10 lg:col-start-9 lg:col-span-2">
      <Image
      imageSrc="/img/books.webp"
      imageAlt="Bøger"
      />
      </div>

    <div class="gsap-button lg:hidden col-start-2 col-span-5 pt-[16px]"> <Button text="Læs mere" size="small" variant="secondaryLeft" href="/artikler"></Button></div>
     <div class="gsap-button lg:block hidden pt-[32px]  col-start-9 col-span-2"> <Button text="Læs mere" size="large" variant="secondaryLeft" href="/artikler"></Button></div>

  </section>

 <!-- Sektion baggrund og uddannelse-->
<section data-green="true" id="kontakt" class="green-section bg-green-500 grid grid-cols-grid-mobil lg:grid-cols-grid-desktop px-[16px] lg:px-[64px] py-[64px] lg:py[136px]">


    <div class="gsap-header col-start-2 col-span-10 lg:col-start-2"><Overskrift color="beige" text="min baggrund"></Overskrift></div>
<div class="gsap-text flex flex-col items-start justify-start gap-[32px] col-start-2 col-span-10 lg:col-start-2 lg:col-span-5">

<Textbox color="beige" subheader="personlig rejse:">
<p class="text-beige-500">Jeg har altid været dybt interesseret i menneskets psyke og de udfordringer, vi møder på vores livsrejse. Min egen opvækst, som bød på mange prøvelser, har givet mig en unik forståelse af den psykiske lidelses verden. Det var netop denne erfaring, der ledte mig til filosofien, som har været en kilde til både indsigt og trøst. Filosofien lærte mig, hvordan vi kan fortolke vores liv og verden på forskellige måder, og hvordan vi kan leve et etisk og meningsfuldt liv.</p> <br>
<p class="text-beige-500">Under min rejse stødte jeg på den hellenistiske filosofi stoicismen, en praktisk filosofi, som gav mig en dyb forståelse af, hvordan vi kan opnå sindsro og forholde os klogt til livets udfordringer. Stoicismen lærte mig, at det ikke er de ydre omstændigheder, der forårsager vores frustrationer og negative tanker, men snarere hvordan vi vælger at fortolke dem. Det var en indsigt, der krævede tid og mange års studier at integrere, men som har været en grundpille i mit arbejde som terapeut.</p> <br>
<p class="text-beige-500">Vi lever i en tid, hvor vi står over for mange muligheder og et stort ansvar, og hvor tiden ofte føles som om den svinder væk. Det kan være svært at være til stede, at være nærværende med dem, vi elsker, og samtidig præstere vores bedste på arbejdspladsen eller i andre dele af livet. Jeg forstår disse udfordringer, og mit mål som samtaleterapeut er at hjælpe dig med at finde den indre ro, som giver dig mulighed for at være nærværende og handle fra et sted af balance og styrke.</p>
</Textbox>
<Textbox color="beige" subheader="uddannelse:">
  <p class="text-beige-500 pb-spacebar32 lg:pb-0">Uddannet cand.mag. i filosofi og religionsvidenskab fra Københavns Universitet, Certificeret i Kognitiv Adfærdsterapi fra The Academy of Applied Psychology</p>
</Textbox>
</div>

</div>

<img class="gsap-image col-start-2 w-full col-span-10 lg:col-start-8 lg:col-span-4" src="/img/artjom-portrait.webp" alt="Artjom portrat">

</section>

 <!-- Sektion forsamtale -->

  <section class="grid grid-cols-grid-mobil lg:grid-cols-grid-desktop px-[16px] lg:px-[64px]  gap-gap-mobil lg:gap-gap-desktop py-spacebar32 lg:py-spacebard136">
    <div class="gsap-header col-start-2 col-span-10 lg:col-start-2 lg:col-span-5">
    <Overskrift text="Passer kemien?" color="green" />
  </div>
      <div class="gsap-text col-start-2 col-span-10 lg:col-start-2 lg:col-span-5">
      <Textbox subheader="Gratis forsamtale" color="green">
      <p>Du er altid velkommen til en gratis og uforpligtende forsamtale. Her har du mulighed for at mærke efter, stille spørgsmål og finde ud af, om kemien er der.</p> <br>
      <p>Skriv blot dit navn og telefon nummer, så vil jeg ringe dig op så vi kan aftale nærmere</p> <br>
      <p>Med venlig hilsen Artjom</p>
    </Textbox>
    </div>
    <div class="gsap-accordion pt-16 lg:pt-0 col-start-2 col-span-10 lg:col-start-8 lg:col-span-4">
       <Forsamtale></Forsamtale>
    </div>
    
  </section>	

</MainLayout>

<script>
  import gsap from "gsap";
  
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  
  
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gsap-header").forEach((el) => {
    gsap.from(el as HTMLElement, {
      scrollTrigger: {
        trigger: el as HTMLElement,
        start: "top center",
      },
      opacity: 0,
      x: -40,
      delay: 0.2,
      ease: "power1.out",
      duration: 1,
    });
  });
  
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gsap-text").forEach((el) => {
    gsap.from(el as HTMLElement, {
      scrollTrigger: {
        trigger: el as HTMLElement,
        start: "top center",
      },
      opacity: 0,
      x: -40,
      delay: 0.3,
      ease: "power1.out",
      duration: 1,
    });
  });
  
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gsap-accordion").forEach((el) => {
    gsap.from(el as HTMLElement, {
      scrollTrigger: {
        trigger: el as HTMLElement,
        start: "top center",
      },
      opacity: 0,
      y: 50,
      delay: 0.6,
      ease: "power1.out",
      duration: 1,
    });
  });
  
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gsap-image").forEach((el) => {
    gsap.from(el as HTMLElement, {
      scrollTrigger: {
        trigger: el as HTMLElement,
        start: "top center",
      },
      opacity: 0,
      y: -40,
      delay: 0.2,
      ease: "power1.out",
      duration: 1,
    });
  });
  
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gsap-button").forEach((el) => {
    gsap.from(el as HTMLElement, {
      scrollTrigger: {
        trigger: el as HTMLElement,
        start: "top center",
      },
      opacity: 0,
      y: 50,
      delay: 0.4,
      ease: "power1.out",
      duration: 1,
    });
  });
  
  gsap.from(".fade-in", {
    opacity: 0,
    y: 30,
    delay: 0.5,
    duration: 1,
    stagger: 0.2, // forskudt animation
    ease: "power2.out",
  });
  
  
  </script>
