---
import MainLayout from "../layouts/MainLayout.astro";
import Overskrift from "../components/Overskrift.astro";
---

<MainLayout title="Om stoisk ro">

<section>

    <Overskrift text="filosofisk samtaleterapi"></Overskrift>
</section>






</MainLayout>