---
import MainLayout from "../layouts/MainLayout.astro"
import Header from "../components/Header.astro"
import Textbox from "../components/Textbox.astro"
import Overskrift from "../components/Overskrift.astro"
import Kontaktform from "../components/Kontaktform.astro"
import Link from "../components/Link.astro"
import PriceList from "../components/PriceList.astro"


---

<MainLayout title="Priser & Kontakt">

<Header h1="priser og kontakt" imgSrc="/img/priser-header-illustration-d.svg"></Header>



<section id="priser" class="grid grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil lg:mx-margin-desktop py-[64px] lg:py[136px]">

 <div class="col-start-2 col-span-10 lg:col-start-2"><Overskrift text="priser"></Overskrift></div>
 <div>
    <PriceList price="1000kr" title="individuel terapi" text="Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit "></PriceList>
    <PriceList price="1000kr" title="individuel terapi" text="Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit "></PriceList>
    <PriceList price="1000kr" title="individuel terapi" text="Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit "></PriceList>
    <PriceList price="1000kr" title="individuel terapi" text="Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit "></PriceList>
 </div>

</section>




<section id="kontakt" class="bg-green-500 grid grid-cols-grid-mobil lg:grid-cols-grid-desktop px-[16px] lg:px-[64px] py-[64px] lg:py[136px]">


    <div class="col-start-2 col-span-10 lg:col-start-2"><Overskrift color="beige" text="Kontakt"></Overskrift></div>
<div class="col-start-2 col-span-10 lg:col-start-2 lg:col-span-2"><Textbox color="beige" text="Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis. Ut commodo efficitur neque."></Textbox>
</div>

<div class="hidden  lg:block lg:col-start-6 lg:col-span-6"><Kontaktform></Kontaktform></div>

<div class="flex flex-col gap-[12px] items-start justify-start col-start-2 col-span-6 py-[32px] lg:py-0 lg:col-start-2 lg:col-span-1">
<Link input="Mulighedsvej 45" href="/" variant="navigationthin"></Link>
<Link input="2300 København S" href="/" variant="navigationthin"></Link>
<Link input="+45 45454545" href="/" variant="navigationthin"></Link>
<Link input="johndoe@gmail.com" href="/" variant="navigationthin"></Link>
</div>

<div class="lg:hidden col-start-2 col-span-10 lg:col-start-6 lg:col-span-6"><Kontaktform></Kontaktform></div>


</section>


<section id="find-vej" class="grid grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil lg:mx-margin-desktop py-[64px] lg:py[136px]">
<div class="col-start-2 col-span-10 lg:col-start-3"><Overskrift text="find vej"></Overskrift></div>

<iframe 
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.888642551422!2d12.568337615927676!3d55.676096980533454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525308941f4e81%3A0x400f7d1c6975850!2sK%C3%B8benhavn!5e0!3m2!1sen!2sdk!4v1680000000000" 
 
  style="border:0;" 

  loading="lazy" 
  referrerpolicy="no-referrer-when-downgrade"
  class="col-start-2 col-span-10 lg:col-start-3 lg:col-span-10"
></iframe>



</section>







</MainLayout>