---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Textbox from "../components/Textbox.astro";
import Overskrift from "../components/Overskrift.astro";
import Kontaktform from "../components/Kontaktform.astro";
import Link from "../components/Link.astro";
import PriceL from "../components/PriceLeft.astro";
import PriceR from "../components/PriceRight.astro";
---

<MainLayout title="Priser og Kontakt på filosofisk samtaleterapi | Stoisk Ro"
description ="Se priser på individuel terapi, parterapi og foredrag om mental sundhed. Samtaleterapi på Amager - med ro, nærvær og en filosofisk tilgang."
url="https://stoiskro.netlify.app/priser/"
canonical="https://stoiskro.netlify.app/priser/">

  <div
    id="priser-header"
    class="grid grid-cols-grid-mobil pt-spacebar32 lg:pt-spacebar136 lg:grid-cols-grid-desktop mx-margin-mobil grid-rows-1 lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop"
  >
    <div class="gsap-header col-start-2 col-span-8 lg:col-start-2 lg:col-span-6">
      <Header h1="Priser" />
    </div>
    <img
      class="gsap-image max-w-full h-auto col-start-8 col-span-2 lg:col-start-8 lg:col-span-3"
      src="/img/priser-header-illustration-d.svg"
      alt="Illustration"
    />
  </div>

  <!-- Sektion priser -->

  <section
    id="priser"
    class="grid grid-cols-grid-mobil lg:grid-cols-grid-desktop gap-gap-mobil lg:gap-gap-desktop px-[16px] lg:px-[64px] pt-spacebarm64 pb-spacebar32 lg:py-[136px]"
  >
    <div class="gsap-header col-start-2 col-span-10"><Overskrift text="Prisliste" /></div>

    <div
      class="gsap-image col-start-2 col-span-10 lg:col-start-2 lg:col-span-3 pb-spacebarm16 lg:pb-spacebar32"
    >
      <PriceL
        title="Individuel terapi"
        text="En-til-en samtaler med fokus på personlig udvikling, indsigt og konkrete redskaber – baseret på stoisk filosofi og kognitiv adfærdsterapi. Jeg tilbyder terapi på Amager og København, hvor vi sammen arbejder med dine udfordringer og mål."
      />
    </div>

    <div
      class="gsap-image col-start-2 col-span-10 lg:col-start-6 lg:col-span-6 self-end pb-spacebarm16 lg:pb-spacebar32"
    >
      <PriceR time="60min" price="700kr" />
    </div>

    <div
      class="gsap-image  col-start-2 col-span-10 lg:col-start-2 lg:col-span-3 pb-spacebarm16 lg:pb-spacebar32"
    >
      <PriceL
        title="Parterapi"
        text="Samtaler med fokus på kommunikation, forståelse og følelsesmæssig nærhed – med redskaber fra stoisk filosofi og parterapeutisk praksis. Parterapi tilbydes på Amager og København med fokus på at styrke jeres relation gennem trygge rammer og indsigt. "
      />
    </div>

    <div
      class="gsap-image  col-start-2 col-span-10 lg:col-start-6 lg:col-span-6 self-end pb-spacebarm16 lg:pb-spacebar32"
    >
      <PriceR time="90min" price="1300kr" />
    </div>

    <div
      class="gsap-image  col-start-2 col-span-10 lg:col-start-2 lg:col-span-3 pb-spacebarm16 lg:pb-spacebar32"
    >
      <PriceL
        title="Undervisning"
        text="Skræddersyet undervisning med fokus på mental robusthed, trivsel og anvendelse af stoiske principper i hverdagen. Perfekt til både private og virksomheder."
      />
    </div>

    <div
      class="gsap-image col-start-2 col-span-10 lg:col-start-6 lg:col-span-6 self-end pb-spacebarm16 lg:pb-spacebar32"
    >
    <PriceR time="2-3 timer x 10" price="3500kr pr. deltager" />
    </div>

    <div class="gsap-image  col-start-2 col-span-10 lg:col-start-2 lg:col-span-3">
      <PriceL
        title="Foredrag"
        text="Inspirerende foredrag om filosofi, terapi, og psykisk robusthed, der kan tilpasses jeres behov – ideelt til virksomheder og organisationer, der ønsker at styrke deres arbejdsmiljø og trivsel. "
      />
    </div>

    <div class="gsap-image  col-start-2 col-span-10 lg:col-start-6 lg:col-span-6 self-end">
      <PriceR time="pr. time" price="2000kr eksl. transport" />
    </div>
  </section>

  <!-- Kontaktform sat op i forhold til grid -->

  <section data-green="true" id="kontakt"
    class="green-section grid grid-cols-grid-mobil lg:grid-cols-grid-desktop bg-green-500 px-[16px] lg:px-[64px] gap-gap-mobil lg:gap-gap-desktop py-spacebarm64 lg:py-spacebard136"
  >
    <div class="gsap-header col-start-2 col-span-10 lg:col-start-2 lg:col-span-5">
      <Overskrift text="Kontakt mig" color="beige" />
    </div>
    <div class="gsap-text col-start-2 col-span-10 lg:col-start-2 lg:col-span-3">
      <Textbox subheader="" color="beige" />
      <p class="text-beige-500">
        Har du noget på hjertet, spørgsmål eller ønsker du blot at tage første
        skridt? Du er meget velkommen til at skrive lidt om dig selv og dine
        udfordringer. Jeg læser alle henvendelser med omtanke og svarer dig så
        snart, jeg kan.
      </p>

      <div
        class="gsap-text pb-[32px] pt-[32px] lg:pb-0 text-beige-500 font-dmsans text-caption-mobil lg:text-caption-desktop"
      >
        <p>Mulighedsvej 45</p>
        <p>2300 København S</p>
        <p>+45 45454545</p>
        <p><a href="mailto:johndoe@gmail.com">johndoe@gmail.com</a></p>
      </div>
    </div>

    <div class="gsap-accordion col-start-2 col-span-10 lg:col-start-6 lg:col-span-6">
      <Kontaktform />
    </div>
  </section>

  <!-- sektion kort -->

  <section
    id="find-vej"
    class="grid grid-cols-grid-mobil lg:grid-cols-grid-desktop gap-gap-mobil lg:gap-gap-desktop px-[16px] lg:px-[64px] py-spacebar32 lg:py-spacebard136"
  >
    <div class="gsap-header col-start-2 col-span-10 lg:col-start-3 lg:col-span-10">
      <Overskrift text="find vej" />
    </div>

    <div class="gsap-image col-start-2 col-span-10 lg:col-start-3 lg:col-span-8">
     

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d72089.94301747468!2d12.513397159708228!3d55.6227091674476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465254b4d3da82f9%3A0x97a79262a6304ea7!2sAmager!5e0!3m2!1sen!2sdk!4v1747206906151!5m2!1sen!2sdk"
        style="border:0;"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="lg:w-full lg:h-[500px]"></iframe>
    </div>
  </section>
</MainLayout>

<script>
    import gsap from "gsap";
    
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-header").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        x: -40,
        delay: 0.2,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-text").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        x: -40,
        delay: 0.2,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-accordion").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        y: 50,
        delay: 0.2,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-image").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        y: -40,
        delay: 0.2,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-button").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        y: 50,
        delay: 0.2,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.from(".fade-in", {
      opacity: 0,
      y: 30,
      delay: 0.2,
      duration: 1,
      stagger: 0.2, // forskudt animation
      ease: "power2.out",
    });
    
    
    </script>