---
import MainLayout from "../layouts/MainLayout.astro"
import Header from "../components/Header.astro"

---

<MainLayout title="Priser & Kontakt">

    <div class="lg:hidden"><Header h1="priser og kontakt" imgSrc="/img/priser-header-illustration-m.svg"></Header></div>
<div class="hidden lg:block"><Header h1="priser og kontakt" imgSrc="/img/priser-header-illustration-d.svg"></Header></div>











</MainLayout>