---
import MainLayout from "../layouts/MainLayout.astro";
import AccordionTerapi from "../components/AccordionTerapi.astro";
import Textbox from "../components/Textbox.astro";
import TextBullet from "../components/TextBullet.astro"
import Image from "../components/Image.astro"
import Overskrift from "../components/Overskrift.astro";
import AccordionVirksomhed from "../components/AccordionVirksomhed.astro";
import Footer from "../components/Footer.astro"
import IconButton from "../components/Button.astro"
import Header from "../components/Header.astro"
---

<MainLayout title="Filosofisk samtaleterapi, foredrag, undervisning | Stoisk Ro"
description ="Samtaleterapi med filosofisk og kognitiv tilgang – for stress, arbejdsmiljø og trivsel. Individuel terapi, parterapi, undervisning og foredrag."
url="https://stoiskro.netlify.app/terapi-amager-kbh/"
canonical="https://stoiskro.netlify.app/terapi-amager-kbh/">

<div id="terapi-header" class="grid grid-cols-grid-mobil pt-spacebar32 lg:pt-spacebar136 lg:grid-cols-grid-desktop mx-margin-mobil grid-rows-1 lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop">
  <div class="gsap-header col-start-2 col-span-5 lg:col-start-2 lg:col-span-7">
    <Header h1="terapi" />
  </div>
  <img class="gsap-image max-w-full h-auto col-start-6 col-span-4 lg:col-start-8 lg:col-span-3" src="/img/terapi-illustration.svg" alt="Illustration" />
</div>


	<!-- Terapi accordion sat op i forhold til grid -->

    <section class="pt-spacebarm64 pb-spacebar32 lg:py-spacebard136 grid grid-cols-grid-mobil lg:grid-cols-grid-desktop px-[16px] lg:px-[64px]  gap-gap-mobil lg:gap-gap-desktop">


        <div class="gsap-accordion col-start-2 col-span-10">
        
        <AccordionTerapi></AccordionTerapi>
        
        </div>
        
    </section>

     <!-- Sektion til virksomheder -->

    <section data-green="true" class="green-section bg-green-500 py-spacebarm64 lg:py-spacebard136 grid grid-cols-grid-mobil lg:grid-cols-grid-desktop px-[16px] lg:px-[64px]  gap-gap-mobil lg:gap-gap-desktop">

        <div class="gsap-header col-start-2 col-span-10 lg:col-start-2 lg:col-span-5">
            <Overskrift text="Til virksomheder" color="beige" />
        </div>
        <div class="gsap-text pb-spacebarm16 lg:pb-0 col-start-2 col-span-10 lg:col-start-2 lg:col-span-5">
            <TextBullet subheader="Styrk trivsel og perfomance" text="Når medarbejdere oplever ro, kontrol og mental klarhed, skaber det ikke kun trivsel – det skaber også bedre resultater. Mine skræddersyede workshops og forløb hjælper teams og organisationer med at:" BulletPoints3={["Stoiske principper til at skabe ro og handlekraft i udfordrende situationer", "Praktiske øvelser til at navigere pres med større klarhed og stabilitet.", "Forebyggelse af stress og udbrændthed – strategier til at håndtere pres, før det bliver overvældende", "Mental robusthed i en travl hverdag – hvordan man bevarer ro, fokus og energi, selv under høj belastning", "Effektiv stresshåndtering – konkrete metoder til at reducere bekymringer og tankemylder", "Åndedrætsteknikker og refleksionsværktøjer – praktiske øvelser til at styrke mental balance og overskud", "Skabelse af en sund arbejdskultur – hvordan ledere og teams kan fremme trivsel og reducere sygefravær"]} color="beige" />
        
              <div class="gsap-button lg:pt-spacebar32 hidden lg:block">
                <IconButton text="Gå til pakker" variant="secondary-negative" size="large" href="/terapi-amager-kbh#virksomhed" />
              </div>
            
        </div>

        <div class="gsap-image col-start-2 col-span-10 lg:col-start-8 lg:col-span-4">
            <Image
            imageSrc="/img/bogreol.webp"
            imageAlt="Artjom putter bog i bogreol"
            />
            <div class="gsap-button pt-spacebarm16 block lg:hidden">
                <IconButton text="Gå til pakker" variant="secondary-negative" size="small" href="/terapi-amager-kbh#virksomhed" />
              </div>
        </div>
    </section>

     <!-- Intro til virksomhedspakker-->

    <section id="virksomhed" class=" py-spacebar32 lg:py-spacebard136 grid grid-cols-grid-mobil lg:grid-cols-grid-desktop px-[16px] lg:px-[64px]  gap-gap-mobil lg:gap-gap-desktop">
        <div class="gsap-text col-start-2 col-span-10 lg:col-start-3 lg:col-span-5">
        
            <Textbox subheader="Skab et arbejdsmiljø med høj energi og stærke resultater" color="green">
                <p>Skab ro, fokus og handlekraft i en travl hverdag. Med afsæt i stoisk tænkning og praktiske værktøjer hjælper disse forløb medarbejdere og teams med at forebygge stress, træffe bedre beslutninger og håndtere følelser med overblik og styrke. Forløbene tilbydes i forskellige formater, så I kan vælge den pakke, der passer bedst til jeres virksomhed og behov.</p>
            </Textbox>
        </div>
        <div class="gsap-image col-start-2 col-span-10 lg:col-start-9 lg:col-span-2">
            <Image
            imageSrc="/img/balancevirk.svg"
            imageAlt="Balance mellem to cirkler"
            />

        </div>
    </section>

    	<!-- Virksomhed acordion sat op i forhold til grid -->
<section class="pb-spacebar32 lg:pb-spacebard136 grid grid-cols-grid-mobil lg:grid-cols-grid-desktop px-[16px] lg:px-[64px] gap-gap-mobil lg:gap-gap-desktop">

    <div class="gsap-accordion col-start-2 col-span-10">
    
    <AccordionVirksomhed></AccordionVirksomhed>
    
    </div>
    
    </section>

</MainLayout>


<script>
    import gsap from "gsap";
    
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-header").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        x: -40,
        delay: 0.2,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-text").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        x: -40,
        delay: 0.3,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-accordion").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        y: 50,
        delay: 0.6,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-image").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        y: -40,
        delay: 0.2,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.utils.toArray(".gsap-button").forEach((el) => {
      gsap.from(el as HTMLElement, {
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top center",
        },
        opacity: 0,
        y: 50,
        delay: 0.4,
        ease: "power1.out",
        duration: 1,
      });
    });
    
    gsap.from(".fade-in", {
      opacity: 0,
      y: 30,
      delay: 0.5,
      duration: 1,
      stagger: 0.2, // forskudt animation
      ease: "power2.out",
    });
    
    
    </script>