---
import Accordion2 from "./Accordion2.astro";
---


<Accordion2
  title2="individuel terapi"
  imageUrl2="/img/individuelterapi.svg"
  buttonText2="Priser"
  imageWidth="210"
  imageHeight="45"
  id="accordion-1"
>
  <div class="pb-spacebar32" slot="leftText2">
    <p>I den individuelle terapi er mit primære mål at forstå dine udfordringer og ønsker. Jeg lytter opmærksomt til, hvad du kæmper med, og hvad du gerne vil opnå.<br> Sammen skaber vi et trygt og åbent rum, hvor du kan føle dig set og hørt – uden fordømmelse. I denne proces er jeg her for at støtte dig i at finde de svar og løsninger, du har brug for, så du kan mærke de forandringer, du ønsker i dit liv.<br> <br>
    I samtaleterapien vil du få mulighed for at opdage, hvordan dine tanker, følelser, adfærd og krop hænger sammen, og hvordan du gradvist kan ændre måden, du takler livets udfordringer på.<br> Det handler ikke kun om at fjerne bekymringer, men om at ændre din indstilling og opnå et indre overskud, som kan føre til en mere rolig og modig tilgang til livet.</p> <br>
    <p>Jeg arbejder med en kombination af stoiske principper og kognitiv adfærdsterapi – en tilgang, der giver dig både indsigt og praktiske redskaber til at håndtere livets op- og nedture. <br> Jeg hjælper dig med at forstå teorierne bag, men vigtigst af alt guider jeg dig til at implementere dem i dit liv, så de giver konkret forandring. <br> <br>
      Jeg har set, hvordan denne tilgang har hjulpet mange til at få større forståelse af sig selv og omverdenen. I terapien fokuserer vi på dit grundsyn på livet, dig selv og andre mennesker. Vi arbejder sammen om at ændre et ængsteligt og bekymret syn på verden til et mere mildt, tilgivende og realistisk perspektiv. Alt sammen med det mål at fremme dit velvære og hjælpe dig med at leve et liv, der er mere i harmoni med din indre ro og øget psykisk robusthed.</p>
    <!-- Du kan også tilføje lister, links, m.m. her -->
  </div>
</Accordion2>

<Accordion2
  title2="Parterapi"
  imageUrl2="/img/parterapi.svg"
  buttonText2="Priser"
  imageWidth="210"
  imageHeight="47"
  id="accordion-2"
>
  <div class="pb-spacebar32" slot="leftText2">
    <p>Parterapi handler om at opbygge et stærkt fundament i jeres forhold gennem åben og ærlig kommunikation. Jeg skaber et trygt rum, hvor både du og din partner kan dele jeres følelser og udfordringer, og sammen arbejder vi på at forstå de dynamikker, der skaber afstand eller konflikt.</p> <br>
    <p>Vi trækker på stoiske principper for at hjælpe jer med at håndtere konflikter med ro og tålmodighed. Stoicismen lærer os, at vi ikke kan kontrollere alt i vores forhold, men vi kan vælge, hvordan vi reagerer på det. Gennem respekt, kærlighed og gensidig støtte hjælper jeg jer med at opbygge en dybere forbindelse, hvor både forståelse og tilgivelse er centrale.<br> <br>
      Målet er at styrke jeres relation ved at skabe balance og udvikle et forhold, hvor begge parter føler sig værdsat og hørt. Jeg vil støtte jer i at udvikle de redskaber, der er nødvendige for at opretholde et sundt og harmonisk partnerskab.</p>
    <!-- Du kan også tilføje lister, links, m.m. her -->
  </div>
</Accordion2>

<Accordion2
  title2="Undervisning"
  imageUrl2="/img/undervisning.svg"
  buttonText2="Priser"
  imageWidth="210"
  imageHeight="45"
  id="accordion-3"
>
  <div class="pb-spacebar32" slot="leftText2">
    Jeg tilbyder undervisning i mindre hold (maks. 8–10 deltagere), hvor vi arbejder med grundlæggende filosofi, antikkens tænkning og særligt stoicismen. Undervisningen er dialogbaseret og til tider eksponerende, da kursisterne bliver inddraget aktivt og opfordres til at reflektere og deltage i diskussioner. <br> <br>
    Forløbet begynder med en introduktion til filosofiens grundspørgsmål og bevæger sig derefter ind i antikkens idéverden med særligt fokus på stoicismen. Målet er at give kursisterne en dybere forståelse af, hvordan man kan anvende filosofi – især stoisk filosofi – i praksis og bruge den som et redskab til at leve et mere reflekteret og meningsfuldt liv.
    <!-- Du kan også tilføje lister, links, m.m. her -->
  </div>
</Accordion2>

<Accordion2
  title2="Foredrag"
  imageUrl2="/img/foredrag.svg"
  buttonText2="Priser"
  imageWidth="210"
  imageHeight="84"
  id="accordion-4"
  >
  <div class="pb-spacebar32" slot="leftText2">
    <p>Mine foredrag er praksisnære, oplevelsesbaserede og udfordrende. Deltagerne indgår i øvelser, som ofte involverer eksponering og refleksion, og hvor formålet er at styrke både den strategiske tankegang og den følelsesmæssige robusthed.
      Et af de værktøjer jeg ofte bruger, er skak – ikke som konkurrence, men som et spejl på deltagernes egen måde at tænke, føle og handle på. Gennem skakspillet undersøger vi blandt andet: <br> <br>
      <li class="list-inside">Hvordan reagerer jeg under pres?</li>
      <li class="list-inside">Tænker jeg flere træk frem, eller handler jeg impulsivt?</li>
     <li class="list-inside"> Hvordan løser jeg problemer, og hvordan tackler jeg nederlag?</li><br><br>
      Skak fungerer her som en filosofi i bevægelse – en invitation til at se sig selv i spillet, og bringe strategisk og emotionel selvindsigt i spil. Det skaber et stærkt fundament for at arbejde videre med de stoiske dyder: visdom, mådehold, mod og retfærdighed.</p>
    <!-- Du kan også tilføje lister, links, m.m. her -->
  </div>
</Accordion2>
