---
const {
  heading = "D.23/5-25",
  imageSrc = "/img/stoisk3.webp",
  imageAlt = "buste i sort hvid",
} = Astro.props;
---
 
 <h3 class="pb-spacebarm16 lg:pb-spacebar32 text-h4-mobil lg:text-h4-desktop font-dmsans text-green-500">{heading}</h3>
  <img class="pb-spacebar32 lg:pb-0 w-full" src={imageSrc} alt={imageAlt} />