---
import IconButton from "../components/Button.astro";

---

<section>

  <p class="pb-spacebarm16 lg:pb-spacebar32 text-p-regular-mobil lg:text-p-regular-desktop text-red-900">
    <slot />
  </p>

  <!-- Desktop-knap -->
  <div class="hidden lg:block">
    <IconButton text="Tilbage" variant="secondary-right" size="large"  href="/artikler" />
  </div>
</section>








