---
import Link from "./Link.astro";

const { input, href="#" } = Astro.props;

---

<div class="flex flex-row gap-[8px] items-center ">
   
    <div class="rounded-full bg-red-500 w-[3px] h-[3px] lg:w-[4px] lg:h-[4px]"></div>
    <a href={href}
    class="lowercase hover:underline decoration-green-500 hover:decoration-red-500 font-dmsans text-link-mobil lg:text-link-desktop font-bold text-green-500"
  >
    {input}
  </p>
  </div>