---
import DotText from "./DotText.astro";
---

<div class="gap-[8px] lg:gap-[16px] flex flex-wrap lg:flex-col lg:flex-nowrap ">
    <DotText href ="" input="depression"></DotText>
    <DotText href ="" input="angst"></DotText>
    <DotText href ="" input="ptsd"></DotText>
    <DotText href ="" input="parforhold"></DotText>
    <DotText href ="" input="selvvard"></DotText>
    <DotText href ="" input="vrede"></DotText>
    <DotText href ="" input="livskrise"></DotText>
    <DotText href ="" input="stress"></DotText>
    </div>

