---
import DotText from "./DotText.astro";
---

<div class="grid gap-[8px] lg:gap-[16px] lg:flex">
  <a href=""> <p class="lowercase underline decoration-green-500 hover:decoration-red-500 font-dmsans text-link-mobil lg:text-link-desktop font-bold text-green-500">Se alle</p></a>
    <DotText href ="" input="angst"></DotText>
    <DotText href ="" input="ptsd"></DotText>
    <DotText href ="" input="parforhold"></DotText>
    <DotText href ="" input="selvværd"></DotText>
    <DotText href ="" input="vrede"></DotText>
    <DotText href ="" input="livskrise"></DotText>
    <DotText href ="" input="stress"></DotText>
    <DotText href ="" input="depression"></DotText>
    </div>

