---
import DotText from "./DotText.astro";
---

<div class="gap-[8px] lg:gap-[16px] flex flex-row ">
    <a href=""><p class="lowercase underline hover:underline decoration-green-500 hover:decoration-red-500 font-dmsans text-link-mobil lg:text-link-desktop font-bold text-green-500">Se alle</p> </a>
    <DotText href ="" input="angst"></DotText>
    <DotText href ="" input="ptsd"></DotText>
    <DotText href ="" input="parforhold"></DotText>
    <DotText href ="" input="selvvard"></DotText>
    <DotText href ="" input="vrede"></DotText>
    <DotText href ="" input="livskrise"></DotText>
    <DotText href ="" input="stress"></DotText>
    <DotText href ="" input="depression"></DotText>
    </div>

