---
import Link from "./Link.astro";
---

<!-- <div
  class="grid grid-cols-grid-mobil gap-gap-mobil mx-margin-mobil py-[64px] lg:py-[136px] lg:grid-cols-grid-desktop lg:mx-margin-desktop lg:gap-gap-desktop"
>
  <div class="col-start-1 col-span-full">
    <div class="border-t border-beige-500 pt-[32px] flex flex-col gap-[32px] ">
      <div class="gap-[32px] flex flex-col items-start justify-center lg:flex-row lg:justify-between">
       <a href="/"> <img src="/img/logo-white.svg" alt="Stoisk Ro logo" /></a>
        <div class="flex flex-col gap-[32px] items-start justify-center lg:flex-row">
        <Link href="/om" input="om" variant="navigation" /> -->


<div id="footer" class="bg-green-500 pb-spacebarm64 lg:pb-spacebard136  pt-spacebarm64 lg:pt-spacebard136 ">

  <div class="grid border-t pt-spacebar32 border-beige-500 grid-cols-grid-mobil  gap-gap-mobil mx-margin-mobil lg:grid-cols-grid-desktop lg:mx-margin-desktop lg:gap-gap-desktop">

<div class="col-start-1 col-span-6 flex flex-col lg:items-center items-start justify-start gap-[32px] lg:flex-row lg:justify-between lg:col-start-1 lg:col-span-12 ">

      <a class="col-start-1 col-span-2" href="/"> <img width="49" height="60" class="w-[100px] h-auto" src="/img/stoisk-ro-logo-white.svg" alt="Stoisk Ro logo" /></a>
 <div class="flex flex-col lg:flex-row items-start  justify-start gap-[32px]"><Link href="/om-stoisk-ro" input="om Stoisk Ro" variant="navigation" />
        <Link href="/terapi-amager-kbh" input="Jeg tilbyder" variant="navigation" />
        <Link href="/priser" input="Priser" variant="navigation" />
        <Link href="/artikler" input="Artikler" variant="navigation" />
        <Link
          href="/terapi-amager-kbh/#virksomhed/"
          input="til virksomheder"
          variant="navigation"
        />
</div>
</div>

<div class="flex flex-wrap col-start-1 col-span-8 lg:col-start-7 lg:col-span-full lg:justify-end gap-spacebarm16 lg:gap-spacebar32">
<div class="col-start-1 py-spacebarm16 col-span-5 flex flex-col justify-start gap-[8px] lg:gap-[12px]">
 <p class="font-dmsans font-bold text-label-mobil text-beige-500">Adresse:</p>
            <Link href="" variant="navigationthin" input="Mulighedsvej 45" />
            <Link variant="navigationthin" input="2300 København S" />
  </div>

  <div class="col-start-7 py-spacebarm16 col-span-5 flex flex-col justify-start gap-[8px] lg:gap-[12px]">
  <p class="font-dmsans font-bold text-label-mobil text-beige-500">Telefon:</p>
            <Link href="" variant="navigationthin" input="+45 45454545" />
  </div>


   <div class="col-start-1 pt-spacebarm16 col-span-5 flex flex-col justify-start gap-[8px] lg:gap-[12px]">
 <p class="font-dmsans font-bold text-label-mobil text-beige-500">E-mail:</p>
              <Link href="" variant="navigationthin" input="johndoe@gmail.com" />
  </div>

   <div class="col-start-7 pt-spacebarm16 col-span-5 flex flex-col justify-start gap-[8px] lg:gap-[12px]">
  <p class="font-dmsans font-bold text-label-mobil text-beige-500">Social:</p>
  <div class="flex flex-row gap-[16px]">
    <a href="https://www.instagram.com/sunspect_/" aria-label="Gå til Instagram profil">
      <img width="22" height="22" class="max-w-full h-auto" src="/img/instagram.svg" alt="Instagram ikon" />
    </a>
  
    <a href="https://www.facebook.com/artjom.aroutounjan" aria-label="Gå til Facebook profil">
      <img width="25" height="25" class="max-w-full h-auto"  src="/img/facebook.svg" alt="Facebook ikon" />
    </a>
  </div>
  
  </div>
  </div>

</div>
