---
import Link from "./Link.astro";
---

<div
  class="grid grid-cols-grid-mobil pb-spacebarm64 lg:pb-spacebard136 gap-gap-mobil mx-margin-mobil pt-[64px] lg:pt-[136px] lg:grid-cols-grid-desktop lg:mx-margin-desktop lg:gap-gap-desktop"
>
  <div class="col-start-1 col-span-full">
    <div class="border-t border-beige-500 pt-[32px] flex flex-col gap-[32px] ">
      <div class="gap-[32px] flex flex-col items-start justify-center lg:flex-row lg:justify-between">
       <a href="/"> <img src="/img/logo-white.svg" alt="Stoisk Ro logo" /></a>
        <div class="flex flex-col gap-[32px] items-start justify-center lg:flex-row">
        <Link href="/om" input="om" variant="navigation" />
        <Link href="/terapi" input="terapi" variant="navigation" />
        <Link href="/priser" input="priser og kontakt" variant="navigation" />
        <Link href="/artikler" input="artikler" variant="navigation" />
        <Link
          href="/terapi#virksomheder"
          input="til virksomheder"
          variant="navigation"
        />
    </div>
      </div>

      <div class="flex flex-col gap-[32px] lg:flex-row self-start lg:self-end">
        <div class="flex flex-row gap-[16px]">
          <div class="flex flex-col gap-[8px]">
            <p class="font-dmsans font-bold text-label-mobil text-beige-500">Adresse:</p>
            <Link href="" variant="navigationthin" input="Mulighedsvej 45" />
            <Link variant="navigationthin" input="2300 København S" />
          </div>

          <div class="flex flex-col gap-[8px]">
            <p class="font-dmsans font-bold text-label-mobil text-beige-500">Telefon:</p>
            <Link href="" variant="navigationthin" input="+45 45454545" />
            
          </div>
        </div>


        <div class="flex flex-row gap-[16px]">
            <div class="flex flex-col gap-[8px]">
              <p class="font-dmsans font-bold text-label-mobil text-beige-500">E-mail:</p>
              <Link href="" variant="navigationthin" input="johndoe@gmail.com" />
              
            </div>
  
            <div class="flex flex-col gap-[8px] ">
              <p class="font-dmsans font-bold text-label-mobil text-beige-500">Social:</p>
             <div class="flex flex-row gap-[16px] ">
                <img src="/img/instagram.svg" alt="Instagram ikon">
                <img src="/img/facebook.svg" alt="Facebook ikon">
             </div>
              
            </div>
          </div>


      </div>
    </div>
  </div>
</div>
