---
const{title}=Astro.props;
---
<section class="bg-beige-500">
<h1 class="grid sm: text-h1-mobil font-gloock text-green-500 uppercase lg:text-h1-desktop mt-[136px] mb-[272px]">{title}</h1>
</section>