---
const {h1, imgSrc = ""} = Astro.props;
---
<div class="grid grid-cols-grid-mobil lg:grid-cols-grid-desktop mx-margin-mobil grid-rows-1 lg:mx-margin-desktop gap-gap-mobil lg:gap-gap-desktop">
    
<h1 class="text-h1-mobil lg:text-h1-desktop font-gloock text-green-500 col-start-2 col-span-8 uppercase">{h1}</h1>
<img class="col-start-6 col-span-10 lg:col-start-8 " src={imgSrc} alt="Illustration">
</div>

