---
// Du kan sende props ind, hvis du vil gøre teksten dynamisk fx
const { title = "STOISK", highlight = "RO", subtitle = "FILOSOFISK SAMTALETERAPI" } = Astro.props;
---
<section class="relative overflow-hidden py-spacebarm64 lg:py-[136px]">
    <h1 class="relative text-h1-mobil lg:text-h1-display font-gloock uppercase text-green-500 inline-block">
      {title}&nbsp;
      <span class="relative inline-block">
        <span
        class="absolute top-1/2 left-full transform -translate-y-1/2 
        translate-x-4 lg:translate-x-20 
        w-20 h-20 lg:w-[300px] lg:h-[300px] 
        bg-red-500 rounded-full z-40 
        animate-slide-in-mobile lg:animate-slide-in-desktop">
      </span>
      
        <span class="relative z-50 text-beige-500 color-burn ">{highlight}</span>
      </span>
    </h1>
    <h3 class="pt-spacebar32 text-h3-mobil lg:text-h3-desktop text-green-500 font-sans">{subtitle}</h3>
  </section>

