---
const { text, color = "green" } = Astro.props;

const textColorClass = color === "beige"
  ? "text-beige-500"
  : "text-green-500"; // fallback til grøn
---
<div class="mb-[8px] lg:mb-[16px]">
  <h2 class={`text-h2-mobil font-gloock uppercase lg:text-h2-desktop ${textColorClass}`}>
    {text}
  </h2>
</div>
