---
const {title, text, time, price} = Astro.props;
---
<section class="grid grid-cols-grid-mobil gap-4 lg:grid-cols-grid-desktop">
  <!-- Første div -->
  <div class="grid gap-4 col-start-2 col-span-10 lg:col-start-2 lg:col-span-3">
    <h4 class="sm:text-h4-mobil text-green-500 lowercase lg:text-h4-desktop">{title}</h4>
    <p class="sm:text-p-small-mobil text-red-900 lg:text-p-small-desktop">{text}</p>
  </div>

  <!-- Border linje -->
  <div
    class="col-start-2 col-span-10 lg:col-start-6 lg:col-span-5 
           border-t border-green-500 
           order-2 lg:order-3"
  ></div>

  <!-- Anden div: tid og pris -->
  <div
    class="flex w-full bg-transparent gap-4
           col-start-2 col-span-10 lg:col-start-6 lg:col-span-5 
           justify-end items-end 
           order-3 lg:order-2"
  >
    <p>{time}</p>
    <h6 class="sm: text-h6-mobil text-green-500 lg:text-h6-desktop translate-y-[2px]">{price}</h6>
  </div>
</section>
