---
const {title, text,} = Astro.props;
---
<div class="">
    <h4 class="sm:text-h4-mobil text-green-500 lowercase lg:text-h4-desktop">{title}</h4>
    <p class="sm:text-p-small-mobil text-red-900 lg:text-p-small-desktop">{text}</p>
  </div>