---
const {subheader,text}= Astro.props;
---
<div class="grid gap-4">
<h3 class="sm:text-h3-mobil uppercase text-green-500 lg:text-h3-desktop">{subheader}</h3>
<p class="sm:text-p-regular-mobil text-red-900 lg:text-p-regular-desktop">{text}</p>
</div>