---
const { input } = Astro.props;
---

<div class="flex flex-row gap-[8px] items-center ">
    <p
      class="lowercase font-dmsans text-h4-mobil lg:text-h4-desktop text-green-500"
    >
      {input}
    </p>
    <div class="rounded-full bg-red-500 w-[3px] h-[3px] lg:w-[4px] lg:h-[4px]"></div>
  </div>