---
import TextDot from "./TextDot.astro";
---

<div class="gap-[8px] lg:gap-[16px] flex flex-wrap">
  <TextDot input="depression" />
  <TextDot input="angst" />
  <TextDot input="ptsd" />
  <TextDot input="parforhold" />
  <TextDot input="teamsamarbejde" />
  <TextDot input="traume" />
  <TextDot input="selvværd" />
  <TextDot input="vrede" />
  <TextDot input="livskrise" />
  <TextDot input="stress" />
  <TextDot input="ledelse" />
</div>
